a {
	position: fixed;
	bottom: 20px;
	left: 20px;
	width: 30%;
	height: 2em;
	background: rgb(212, 32, 32);

	&:hover {
		background: rgb(172, 25, 25);
	}
}

#snare {
	right: 20px;
	left: auto;
	background: rgb(36, 145, 36);

	&:hover {
		background: rgb(25, 109, 25);
	}
}